body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#flower {
    width: 100px;
    height: 100px;
    position: relative;
}

.petal {
    width: 50px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    transform-origin: 50% 100%;
}

.petal:nth-child(1) {
    transform: rotate(0deg);
}

.petal:nth-child(2) {
    transform: rotate(45deg);
}

.petal:nth-child(3) {
    transform: rotate(90deg);
}

.petal:nth-child(4) {
    transform: rotate(135deg);
}

.petal:nth-child(5) {
    transform: rotate(180deg);
}
